body {
    background-color: #c5c5c5;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: crimson;
}

a:hover {
    color: #727272;
}

button {
    background: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    padding: 18px;
    color: white;
}

.start-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

button:hover {
    opacity: 0.5;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none;
    box-shadow: none;
}

#questionTitle {
    font-size: 20px;
    padding: 20px;
}

#questionDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 400px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 750px;
    height: 450px;
    font-size: 20px;
    border-radius: 2rem;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 400px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 650px;
    height: 400px;
    font-size: 20px;
    border-radius: 2rem;
}

.finalScoreSection {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 400px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 650px;
    height: 300px;
    font-size: 20px;
    border-radius: 2rem;
    padding-top: 40px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#highScoreSection {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: #c5c5c5;
    width: 650px;
    height: 375px;
    font-size: 20px;
    border-radius: 2rem;
    padding-top: 40px;
}

#goBackBtn, #clearHighScoreBtn {
    margin: 10px;
}

#clearHighScoreBtn {
    color: crimson;
}

.finalBtn {
    display: flex;
    margin-left: 180px;
    margin-right: auto;
}